%h2 New Global System Variable
%p Create a new System Variable. Note: System Variables are directly related to SPARK, so a good understanding of how Learn HVAC works with SPARK is required before adding or changing System Variables. 
%hr
- form_for(@global_system_variable, :url => admin_system_variables_path, :method => :post) do |f|
  = render :partial => "form", :locals => { :f => f }
= link_to 'Back', admin_system_variables_path
