%h1 New Global System Var
- form_for(@global_system_variable, :url => admin_system_variables_path, :method => :post) do |f|
  = render :partial => "form", :locals => { :f => f }
= link_to 'Back', admin_system_variables_path
