%h2 Institutions with public scenarios.
%hr

%table
  %tr
    %th Name
    %th Scenarios
  - @institutions.each do |institution|
    %tr
      %td= link_to formatted_institution_name(institution), institution
      %td= institution.scenarios.public.count
%br
= will_paginate @institutions

