<p>
  <b>Name:</b>
  <%= @institution.name %>
</p>

<p>
  <b>Description:</b>
  <%= @institution.description %>
</p>


<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
