<p>Someone edited the system variable the same time you did. Please make your changes again...</p>
<br/>
<%= button_to 'Edit System Variable Again', {:action => 'edit', :id=>@systemvariable.id}, :class=>'createButton' %>

