<div>	
	<div id="section_icon">
	  <%= image_tag "icon_scenarios_45.png", :alt => "Scenarios Icon" %>
	</div>
	<div id="section_title">
		<h1>New Forum</h1>
	</div>
</div>

<% form_for @forum do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit 'Save', :class => 'submitButton' %> or <%= link_to "cancel", forums_path %>
<% end %>