%h2 Forgot Password
%p Fill out the form below and instructions to reset your password will be emailed to you:

- form_tag password_resets_path do
  .field
    %label Email:
    = text_field_tag "email"

  .actions
    = submit_tag "Reset my password"
    &nbsp; or back to
    = link_to "login page", login_path

