.container
  #login_content{"data-state" => "login"}
    #reset_content_inner
      .dialog_contents
        #login_dialog.login_dialog.clearfix
          %h3 Can't sign in? Forgot your password?
          %p Enter your email address below and we'll send you password reset instructions.
          = form_tag password_resets_path do
            .field
            %label Enter your email address:
            %br 
            %br
            = text_field_tag "email"
            .actions
              = submit_tag "Send me reset instructions"
              &nbsp; or back to
              = link_to "login page", login_path

