<h1>Listing instructor_system_variables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructor_system_variables.each do |instructor_system_variable| %>
  <tr>
    <td><%= link_to 'Show', instructor_system_variable %></td>
    <td><%= link_to 'Edit', edit_instructor_system_variable_path(instructor_system_variable) %></td>
    <td><%= link_to 'Destroy', instructor_system_variable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New instructor_system_variable', new_instructor_system_variable_path %>
