%h2 Settings
%hr
%p
  = link_to "Educational Entity", admins_admins_settings_educational_entities_path
  Add/Edit or delete educational entities.

%p
  = link_to "Client Versions", admins_settings_client_versions_path
  Manage versions of the desktop software

  

