= content_for :main_header do
  %h1 Settings

%p= link_to "Educational Entities", admins_settings_educational_entities_path, :class => 'btn'
%p Add/Edit or delete educational entities.

%p= link_to "Desktop Application Versions", admins_settings_client_versions_path, :class => 'btn'
%p Manage versions of the desktop software
