#tabs
  %ul
    %li.ui-tabs-selected= link_to "Settings", admins_settings_path

  #page_header
    #subject_info
      %h2= link_to "Educational Entity", admins_settings_educational_entities_path
      .subject_details Add/Edit or delete educational entities.
      
      %h2= link_to "Client Versions", admins_settings_client_versions_path
      .subject_details Manage versions of the desktop software
      