<h1>Listing scenario_system_variables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scenario_system_variables.each do |scenario_system_variable| %>
  <tr>
    <td><%= link_to 'Show', scenario_system_variable %></td>
    <td><%= link_to 'Edit', edit_scenario_system_variable_path(scenario_system_variable) %></td>
    <td><%= link_to 'Destroy', scenario_system_variable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New scenario_system_variable', new_scenario_system_variable_path %>
