@import url("reset.css");
/* line 3, ../../app/stylesheets/application.sass */
body {
  background: #87cefa;
  color: #555555;
  font: 12px Arial, Helvetica, sans-serif;
}

/* line 8, ../../app/stylesheets/application.sass */
h1, h2, h3 {
  margin: 0 30px 16px;
  font-weight: bold;
}

/* line 12, ../../app/stylesheets/application.sass */
h1 {
  font-size: 18px;
  color: black;
}

/* line 16, ../../app/stylesheets/application.sass */
h2 {
  font-size: 16px;
}

/* line 19, ../../app/stylesheets/application.sass */
h3 {
  font-size: 14px;
}

/* line 22, ../../app/stylesheets/application.sass */
p {
  padding: 0 0 16px;
}

/* line 25, ../../app/stylesheets/application.sass */
em {
  font-style: italic;
  color: #a0a0a0;
  font-weight: normal;
}

/* line 31, ../../app/stylesheets/application.sass */
a:link, a:visited {
  text-decoration: none;
}

/* line 35, ../../app/stylesheets/application.sass */
table {
  border-collapse: collapse;
  margin: 0 0 16px;
  width: 100%;
}
/* line 39, ../../app/stylesheets/application.sass */
table th, table td {
  border: 1px solid #dddddd;
  border-width: 1px 0;
  padding: 2px 4px;
}
/* line 43, ../../app/stylesheets/application.sass */
table th {
  background-color: #f1f1f1;
  color: #999999;
  font-weight: bold;
  font-size: 11px;
  padding: 8px 15px;
}

/* line 50, ../../app/stylesheets/application.sass */
tbody td {
  padding: 8px 15px;
  vertical-align: middle;
}

/* line 54, ../../app/stylesheets/application.sass */
table tr {
  vertical-align: middle;
}

/* line 57, ../../app/stylesheets/application.sass */
.preview {
  border: 1px solid #dddddd;
  margin: 0 2px;
}

/* line 62, ../../app/stylesheets/application.sass */
a.edit {
  background: transparent url("../images/icons/edit.png") no-repeat center left;
  padding-left: 20px;
}
/* line 65, ../../app/stylesheets/application.sass */
a.add {
  display: block;
  margin: 0 0 12px 15px;
  background: transparent url("../images/icons/new.png") no-repeat center left;
  padding-left: 20px;
}
/* line 70, ../../app/stylesheets/application.sass */
a.settings {
  background: transparent url("../images/icons/settings.png") no-repeat center left;
  padding-left: 15px;
  margin-left: 15px;
}
/* line 74, ../../app/stylesheets/application.sass */
a.logout {
  background: transparent url("../images/icons/logout.png") no-repeat center left;
  padding-left: 15px;
  margin-left: 15px;
}

/* line 79, ../../app/stylesheets/application.sass */
div.actions {
  width: 13em;
  position: relative;
  height: 1em;
}

/* line 85, ../../app/stylesheets/application.sass */
a.move_up {
  background: transparent url("../images/icons/move_up.png") no-repeat center left;
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 91, ../../app/stylesheets/application.sass */
a.move_down {
  background: transparent url("../images/icons/move_up.png") no-repeat center left;
  padding-left: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url("../images/icons/move_down.png") no-repeat center left;
  left: 7em;
}
/* line 99, ../../app/stylesheets/application.sass */
a.publish {
  color: #568815;
}
/* line 101, ../../app/stylesheets/application.sass */
a.unpublish {
  color: #568815;
  color: #ff6600;
}

/* line 105, ../../app/stylesheets/application.sass */
.inline {
  display: inline;
}

/* line 108, ../../app/stylesheets/application.sass */
.hidden {
  display: none;
}

/* Clickable elements get pointer cursor
 *---------------------------------------- */
/* line 114, ../../app/stylesheets/application.sass */
a[href] {
  cursor: pointer;
}

/* line 118, ../../app/stylesheets/application.sass */
input[type='submit'], input[type='image'] {
  cursor: pointer;
}

/* line 121, ../../app/stylesheets/application.sass */
label[for], select, button, .pointer {
  cursor: pointer;
}

/* Flash messages
 *----------------- */
/* line 127, ../../app/stylesheets/application.sass */
.alert {
  background-color: #ffeeee;
  color: #cc0000;
  font-weight: bold;
  margin: 0 0 16px;
  padding: 5px;
}

/* line 134, ../../app/stylesheets/application.sass */
.notice {
  background-color: #ffeeee;
  color: #cc0000;
  font-weight: bold;
  margin: 0 0 16px;
  padding: 5px;
  background-color: #d5e4c2;
  color: #568815;
}

/* Login screen
 *--------------- */
/* line 146, ../../app/stylesheets/application.sass */
#login {
  width: 485px;
  min-height: 382px;
  margin: 120px auto 0;
  background: transparent url("../images/login_bg.jpg") center top no-repeat;
}
/* line 151, ../../app/stylesheets/application.sass */
#login a {
  color: #e4f932;
  margin: 0 0 0 109px;
}
/* line 154, ../../app/stylesheets/application.sass */
#login .alert {
  background-color: transparent;
  margin: 0 0 0 109px;
}
/* line 157, ../../app/stylesheets/application.sass */
#login h1 {
  background: transparent url("../images/login_logo.png") center bottom no-repeat;
  width: 485px;
  height: 57px;
  text-indent: -999em;
  margin: 0 0 20px 0;
  padding: 0;
}
/* line 164, ../../app/stylesheets/application.sass */
#login h2 {
  display: none;
}
/* line 166, ../../app/stylesheets/application.sass */
#login form {
  padding-top: 15px;
  margin: 0 auto 16px 109px;
  width: 268px;
}
/* line 170, ../../app/stylesheets/application.sass */
#login form p {
  margin: 0;
  padding: 0;
}
/* line 173, ../../app/stylesheets/application.sass */
#login #user_email, #login #user_password, #login #user_password_confirmation {
  font: 13px Arial, Helvetica, sans-serif;
  padding: 3px 0;
  margin: 0 0 10px 0;
  width: 268px;
}
/* line 178, ../../app/stylesheets/application.sass */
#login form br {
  display: none;
}
/* line 180, ../../app/stylesheets/application.sass */
#login label {
  color: white;
  font-weight: normal;
}
/* line 183, ../../app/stylesheets/application.sass */
#login #user_remember_me {
  margin: 0 0 10px 0;
}
/* line 185, ../../app/stylesheets/application.sass */
#login #user_remember_me + label {
  display: inline;
}

/* line 188, ../../app/stylesheets/application.sass */
.button {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
  border: 0;
  margin: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fca253;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fca253), to(#fb661e));
  background: -moz-linear-gradient(#fca253, #fb661e);
  background: linear-gradient(#fca253, #fb661e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca253', endColorstr='#fb661e');
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 212, ../../app/stylesheets/application.sass */
input.link {
  border: none;
  background-color: transparent;
  color: #568815;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 219, ../../app/stylesheets/application.sass */
#login #user_submit {
  border-width: 1px;
  border-style: solid;
  border-color: #3f5f15 #a0bd78 #a0bd78 #3f5f15;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  margin: 0;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: auto;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fca253;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fca253), to(#fb661e));
  background: -moz-linear-gradient(#fca253, #fb661e);
  background: linear-gradient(#fca253, #fb661e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca253', endColorstr='#fb661e');
}

/* line 242, ../../app/stylesheets/application.sass */
.template_sections th.section_title {
  text-align: left;
}
/* line 244, ../../app/stylesheets/application.sass */
.template_sections td.order {
  text-align: center;
}

/* application layout elements
 *------------------------------ */
/* line 250, ../../app/stylesheets/application.sass */
#wrapper {
  background-color: white;
  border-radius: 6px;
  margin: 10px 20px 0;
  min-width: 970px;
  min-height: 350px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* line 259, ../../app/stylesheets/application.sass */
header {
  border-bottom: 1px solid #dddddd;
  margin: 0 0 16px;
  position: relative;
  font-size: 10px;
}

/* line 265, ../../app/stylesheets/application.sass */
#logo {
  position: absolute;
  right: 20px;
  top: 13px;
  background: transparent url("../images/new_logo.png") center top no-repeat;
  text-indent: -99em;
  overflow: hidden;
  width: 121px;
  height: 21px;
}

/* line 275, ../../app/stylesheets/application.sass */
#app_title {
  position: absolute;
  bottom: 5px;
  letter-spacing: 0.14em;
  left: 15px;
  text-transform: uppercase;
}

/* line 282, ../../app/stylesheets/application.sass */
nav {
  height: 29px;
  padding: 13px 0 7px 14px;
  border-radius: 6px 6px 0 0;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#eeeeee));
  background: -moz-linear-gradient(white, #eeeeee);
  background: linear-gradient(white, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
/* line 295, ../../app/stylesheets/application.sass */
nav a.button {
  border-width: 1px;
  height: 13px;
  color: white;
  padding: 6px 12px;
  margin: 0 10px 0 0;
  border-style: solid;
  border-color: gray white white #a9a9a9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 12px;
  background: #fca253;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a4a4a4), to(#777777));
  background: -moz-linear-gradient(#a4a4a4, #777777);
  background: linear-gradient(#a4a4a4, #777777);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4a4a4', endColorstr='#777777');
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 314, ../../app/stylesheets/application.sass */
nav a.current {
  background: #b0b0b0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 318, ../../app/stylesheets/application.sass */
#subnav {
  border-top: 1px solid #dddddd;
  padding: 6px 20px 0px 180px;
  height: 20px;
  text-align: right;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(white), to(#eeeeee));
  background: -moz-linear-gradient(white, #eeeeee);
  background: linear-gradient(white, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee');
}
/* line 327, ../../app/stylesheets/application.sass */
#subnav form {
  display: inline;
}
/* line 329, ../../app/stylesheets/application.sass */
#subnav form label {
  display: inline;
}

/* line 332, ../../app/stylesheets/application.sass */
#welcome {
  display: inline;
  padding: 0 10px;
}

/* line 336, ../../app/stylesheets/application.sass */
.title {
  font-weight: bold;
}

/* line 339, ../../app/stylesheets/application.sass */
footer {
  color: black;
  margin: 10px 0 0 20px;
  font-size: 8px;
}

/* line 344, ../../app/stylesheets/application.sass */
#content {
  padding-bottom: 16px;
}
/* line 347, ../../app/stylesheets/application.sass */
#content > * {
  margin-left: 30px;
  margin-right: 30px;
}
/* line 350, ../../app/stylesheets/application.sass */
#content > table.full {
  margin: 16px 0;
}

/* line 354, ../../app/stylesheets/application.sass */
table.full tr th.date {
  width: 10%;
}
/* line 356, ../../app/stylesheets/application.sass */
table.full tr th.title {
  text-align: left;
  width: 20%;
}
/* line 359, ../../app/stylesheets/application.sass */
table.full tr th.actions {
  text-align: right;
  width: 20%;
}
/* line 362, ../../app/stylesheets/application.sass */
table.full tr th.notes {
  width: 50%;
}

/* line 366, ../../app/stylesheets/application.sass */
#content table.full p {
  padding-bottom: 0;
}
/* line 368, ../../app/stylesheets/application.sass */
#content .options {
  margin-left: 15px;
  font-size: 0.9em;
  padding-bottom: 20px;
}

/* line 373, ../../app/stylesheets/application.sass */
.options label {
  font-weight: normal;
}

/* line 376, ../../app/stylesheets/application.sass */
.results_menu {
  width: 250px;
  line-height: 1.8em;
  float: left;
}
/* line 380, ../../app/stylesheets/application.sass */
.results_menu label {
  float: left;
  margin-right: 8px;
}

/* line 384, ../../app/stylesheets/application.sass */
.pagination {
  margin-top: 4px;
  float: left;
}

/* line 389, ../../app/stylesheets/application.sass */
.sort:link, .sort:visited {
  float: left;
  width: auto;
  padding-right: 18px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center right;
  color: #666666;
}

/* line 398, ../../app/stylesheets/application.sass */
.asc {
  background-image: url("/images/icons/sort_arrows_asc.png");
}

/* line 401, ../../app/stylesheets/application.sass */
.desc {
  background-image: url("/images/icons/sort_arrows_desc.png");
}

/* line 405, ../../app/stylesheets/application.sass */
.inactive:link, .inactive:visited {
  background-image: url("/images/icons/sort_arrows_inactive.png") !important;
  color: #999999;
}

/* line 409, ../../app/stylesheets/application.sass */
.inset {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 413, ../../app/stylesheets/application.sass */
.inset .actions {
  width: auto;
}
/* line 415, ../../app/stylesheets/application.sass */
.inset .button {
  margin: 1em;
}

/* line 418, ../../app/stylesheets/application.sass */
.alpha_filter {
  width: 100%;
  margin-top: 25px;
  text-align: justify;
  font-weight: 600;
}
/* line 423, ../../app/stylesheets/application.sass */
.alpha_filter a {
  padding: 2px 4px 2px 4px;
  margin: 0 2px 0 2px;
}
/* line 426, ../../app/stylesheets/application.sass */
.alpha_filter a.selected {
  background-color: #fff0a9;
}

/* line 429, ../../app/stylesheets/application.sass */
#search_users_form {
  margin-top: 10px;
  float: right;
}
/* line 432, ../../app/stylesheets/application.sass */
#search_users_form label {
  float: left;
  line-height: 2em;
  margin-right: 3px;
}

/* Form elements
 *---------------- */
/* line 440, ../../app/stylesheets/application.sass */
#content form.data {
  margin: 0 auto;
  width: 250px;
}

/* line 444, ../../app/stylesheets/application.sass */
form > div {
  padding: 0 0 16px 0;
}

/* line 447, ../../app/stylesheets/application.sass */
.field_with_errors {
  display: inline;
}

/* line 450, ../../app/stylesheets/application.sass */
.error_message {
  font-weight: bold;
  color: #cc0000;
}

/* line 454, ../../app/stylesheets/application.sass */
label {
  display: block;
  font-weight: bold;
  padding: 0 0 2px 0;
}
/* line 455, ../../app/stylesheets/application.sass */
label.error {
  font-weight: bold;
  color: #cc0000;
}

/* line 462, ../../app/stylesheets/application.sass */
.textbox {
  font: 13px Arial, Helvetica, sans-serif;
  padding: 3px 0;
  width: 220px;
}

/* line 467, ../../app/stylesheets/application.sass */
.radiobutton {
  display: inline;
  font-weight: normal;
  margin: 0 16px 0 0;
}

/* line 472, ../../app/stylesheets/application.sass */
a.button {
  padding: 5px 20px;
  height: 14px;
  color: white;
  display: inline-block;
}

/* line 478, ../../app/stylesheets/application.sass */
input + a {
  margin-left: 10px;
}

/* line 482, ../../app/stylesheets/application.sass */
td.check_box {
  width: 80px;
  text-align: center;
}
/* line 485, ../../app/stylesheets/application.sass */
td.slide_set_preview {
  width: 100px;
}

/* jCarousel Lite
 *----------------- */
/* line 491, ../../app/stylesheets/application.sass */
.carousel {
  position: relative;
  visibility: hidden;
  left: -5000px;
}

/* line 496, ../../app/stylesheets/application.sass */
.prev:hover, .next:hover {
  cursor: pointer;
}

/* Lightbox
 *----------------- */
/* line 502, ../../app/stylesheets/application.sass */
.slide_lightbox {
  display: none;
}

/* line 506, ../../app/stylesheets/application.sass */
#facebox .title, #facebox .menu {
  padding: 4px;
  margin: 2px auto 8px;
  text-align: center;
}
/* line 510, ../../app/stylesheets/application.sass */
#facebox .image {
  margin: 0 20px;
}
/* line 511, ../../app/stylesheets/application.sass */
#facebox .image img {
  border: 1px solid #dddddd;
}

/* line 516, ../../app/stylesheets/application.sass */
div.multiple_slide_titles {
  margin-top: 20px;
  height: 50px;
}
/* line 519, ../../app/stylesheets/application.sass */
div.first_slide {
  font-weight: bold;
}

/* line 523, ../../app/stylesheets/application.sass */
a.small_preview {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 60px;
  background-repeat: no-repeat;
  border: 1px solid #dddddd;
}
/* line 530, ../../app/stylesheets/application.sass */
a.slide_set {
  margin-bottom: 10px;
}
/* line 532, ../../app/stylesheets/application.sass */
a.small_preview img {
  position: absolute;
  margin-top: 49px;
  margin-left: 69px;
}
/* line 536, ../../app/stylesheets/application.sass */
a.copy {
  font-size: 10px;
  padding-left: 25px;
  background: url("/images/icons/copy.png") 0 0 no-repeat;
  margin: 0 10px;
}
/* line 541, ../../app/stylesheets/application.sass */
a.ppt {
  font-size: 10px;
  padding-left: 25px;
  margin: 0 10px;
  background: url("/images/icons/ppt.png") 0 0 no-repeat;
}
/* line 546, ../../app/stylesheets/application.sass */
a.pdf {
  font-size: 10px;
  padding-left: 25px;
  background: url("/images/icons/pdf.png") 0 0 no-repeat;
}
/* line 550, ../../app/stylesheets/application.sass */
a.delete {
  background: transparent url("/images/icons/delete.png") no-repeat center left;
  padding-left: 14px;
  margin-left: 14px;
}

/* line 556, ../../app/stylesheets/application.sass */
.inline label, .inline .field {
  float: left;
}

/* line 559, ../../app/stylesheets/application.sass */
table.simple {
  width: auto;
}
/* line 561, ../../app/stylesheets/application.sass */
table.simple th, table.simple td {
  padding: 3px;
  border-width: 0;
}

/* line 565, ../../app/stylesheets/application.sass */
.caption {
  color: #666666;
  font-size: 10px;
}

/* line 569, ../../app/stylesheets/application.sass */
p.template_title {
  color: black;
  font-weight: bold;
}
/* line 572, ../../app/stylesheets/application.sass */
p.template_title span {
  font-weight: normal;
}

/* line 576, ../../app/stylesheets/application.sass */
td.custom label {
  font-size: 10px;
  color: #666666;
  font-weight: normal;
}
/* line 580, ../../app/stylesheets/application.sass */
td.custom label.error {
  font-weight: bold;
  color: #cc0000;
  font-size: 12px;
}
/* line 584, ../../app/stylesheets/application.sass */
td.custom .textbox {
  width: 400px;
  height: 50px;
}

/* line 589, ../../app/stylesheets/application.sass */
div.instructions {
  color: black;
  font-size: 10px;
  margin-bottom: 12px;
}
/* line 593, ../../app/stylesheets/application.sass */
div.slide_title {
  padding: 16px 0;
}

/* line 597, ../../app/stylesheets/application.sass */
.subject-buttons ul {
  float: right;
}
/* line 599, ../../app/stylesheets/application.sass */
.subject-buttons ul li {
  float: left;
  margin-left: 10px;
}
/* line 602, ../../app/stylesheets/application.sass */
.subject-buttons button.medium-grey-button {
  background: #898989;
}
/* line 604, ../../app/stylesheets/application.sass */
.subject-buttons button.medium-green-button {
  background: #006400;
}
/* line 606, ../../app/stylesheets/application.sass */
.subject-buttons button.medium-red-button {
  background: red;
}
/* line 608, ../../app/stylesheets/application.sass */
.subject-buttons button.large-green-button {
  background: #006400;
}
/* line 610, ../../app/stylesheets/application.sass */
.subject-buttons button.large-red-button {
  background: red;
}

/* line 614, ../../app/stylesheets/application.sass */
#inner-tabs ul {
  float: left;
}
/* line 616, ../../app/stylesheets/application.sass */
#inner-tabs ul li {
  float: left;
  margin-left: 10px;
}

/* line 620, ../../app/stylesheets/application.sass */
.users-list {
  float: left;
}
/* line 623, ../../app/stylesheets/application.sass */
.users-list li {
  float: left;
  margin-right: 10px;
}
/* line 626, ../../app/stylesheets/application.sass */
.users-list a.button {
  background: #898989;
}
