/* line 1, ../../app/stylesheets/application.sass */
body {
  font-size: 84%;
  background: url(/images/layout/bg-header.png) repeat-x left top;
}

/* line 6, ../../app/stylesheets/application.sass */
.content, .shadow, .subnav, .footer {
  width: 960px;
}

/* line 10, ../../app/stylesheets/application.sass */
.content {
  margin: 0 auto;
}

/* line 14, ../../app/stylesheets/application.sass */
.header {
  margin-bottom: 0;
}
/* line 17, ../../app/stylesheets/application.sass */
.header h1 {
  font-size: 1.3em;
  font-weight: normal;
}
/* line 21, ../../app/stylesheets/application.sass */
.header h1 img {
  margin: 0 0 5px;
  border: none;
}
/* line 25, ../../app/stylesheets/application.sass */
.header a {
  border: none;
}
/* line 28, ../../app/stylesheets/application.sass */
.header a:hover {
  border: none;
}

/* line 32, ../../app/stylesheets/application.sass */
.bp .global_nav {
  margin-top: 0.3em;
}
/* line 35, ../../app/stylesheets/application.sass */
.bp .global_nav li {
  margin-left: 0.5em;
}
/* line 38, ../../app/stylesheets/application.sass */
.bp .global_nav a {
  padding: 0.2em 1em 0.3em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 0.8em;
  color: white;
}
/* line 44, ../../app/stylesheets/application.sass */
.bp .global_nav a:hover {
  text-decoration: none;
  background: #6c819f;
  color: white;
}
/* line 49, ../../app/stylesheets/application.sass */
.bp .global_nav a:visited {
  color: white;
}

/* line 52, ../../app/stylesheets/application.sass */
.bp ul.ui-autocomplete {
  margin: 0.3em;
  padding: 0.3em;
}

/* line 56, ../../app/stylesheets/application.sass */
li.username {
  margin-right: 1em;
}

/* line 60, ../../app/stylesheets/application.sass */
.shadow {
  background: url(/images/layout/bg-body-shadow.png) no-repeat top center;
  padding: 7px;
  margin: 0 auto;
}

/* line 66, ../../app/stylesheets/application.sass */
.bp .subnav {
  background: #fffddd;
  margin: 0 auto;
  min-height: 2.3em;
}
/* line 71, ../../app/stylesheets/application.sass */
.bp .subnav h2 {
  float: left;
  font-size: 1.6em;
  margin-left: 2em;
}
/* line 76, ../../app/stylesheets/application.sass */
.bp .subnav ul {
  padding: 20px;
  text-align: right;
}
/* line 80, ../../app/stylesheets/application.sass */
.bp .subnav li > a {
  color: #333333;
  border: none;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}
/* line 89, ../../app/stylesheets/application.sass */
.bp .subnav li > a:hover {
  background: #e8dda6;
}

/* line 93, ../../app/stylesheets/application.sass */
.navigation ul {
  margin: 0;
}
/* line 96, ../../app/stylesheets/application.sass */
.navigation ul li {
  display: inline;
}

/* line 100, ../../app/stylesheets/application.sass */
.main {
  margin: auto;
  padding: 0 50px 1em;
  min-height: 500px;
}

/* line 106, ../../app/stylesheets/application.sass */
.column {
  width: 45%;
  padding-right: 5%;
  float: left;
}

/* line 112, ../../app/stylesheets/application.sass */
.sidebar {
  width: 300px;
  float: right;
}
/* line 116, ../../app/stylesheets/application.sass */
.sidebar h3 {
  padding: 0 0 0.5em;
  border-bottom: 1px solid #a1bdc0;
}
/* line 120, ../../app/stylesheets/application.sass */
.sidebar a {
  font-size: 0.95em;
}
/* line 123, ../../app/stylesheets/application.sass */
.sidebar ul {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 1em;
  margin-bottom: 1.5em;
}

/* line 129, ../../app/stylesheets/application.sass */
.actions li {
  padding-left: 1.7em;
  margin: 0.5em 0;
}

/* line 135, ../../app/stylesheets/application.sass */
.dashboard h3 {
  border-bottom: 2px solid #59d8e5;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
}
/* line 140, ../../app/stylesheets/application.sass */
.dashboard .utility {
  font: 1.05em Georgia, Times New Roman, serif;
}

/* line 144, ../../app/stylesheets/application.sass */
.footer {
  height: 5em;
  line-height: 1em;
  margin: 0 auto 2em;
  background: white url(/images/layout/bg-body-shadow-foot.png) no-repeat center bottom;
}
/* line 150, ../../app/stylesheets/application.sass */
.footer .content {
  width: 940px;
  padding-top: 1.5em;
  border-top: 1px solid #c9cfd0;
}
/* line 155, ../../app/stylesheets/application.sass */
.footer a {
  color: #008c98;
  border-bottom: 1px dotted #008c98;
}
/* line 159, ../../app/stylesheets/application.sass */
.footer a:hover {
  color: black;
  border: none;
}
/* line 163, ../../app/stylesheets/application.sass */
.footer ul {
  height: 1.5em;
}
/* line 166, ../../app/stylesheets/application.sass */
.footer ul li {
  float: left;
}
/* line 169, ../../app/stylesheets/application.sass */
.footer .nav {
  float: left;
}
/* line 172, ../../app/stylesheets/application.sass */
.footer .nav li {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #666666;
}
/* line 177, ../../app/stylesheets/application.sass */
.footer .nav li:first-child {
  margin-left: 0;
  padding-left: 0;
  border: none;
}
/* line 182, ../../app/stylesheets/application.sass */
.footer .attribution {
  float: right;
}
/* line 185, ../../app/stylesheets/application.sass */
.footer .attribution img {
  float: none;
  margin: -1em 0 -0.7em;
}
/* line 189, ../../app/stylesheets/application.sass */
.footer .attribution a {
  color: #91020c;
  border-bottom: 1px solid #91020c;
}

/* line 194, ../../app/stylesheets/application.sass */
input[type="submit"] {
  font-weight: bold;
  color: white;
  background: #858585 url(/images/layout/bg-btn.png) repeat-x left top;
  padding: 0.5em 1em;
  border: 1px solid #858585;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 204, ../../app/stylesheets/application.sass */
input[type="submit"]:hover, button:hover {
  cursor: pointer;
}
/* line 207, ../../app/stylesheets/application.sass */
input[type="submit"]:hover p, button:hover p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 212, ../../app/stylesheets/application.sass */
textarea {
  width: 30em;
  height: 10em;
}
/* line 216, ../../app/stylesheets/application.sass */
textarea.contact_message {
  width: 20em;
}

/* line 220, ../../app/stylesheets/application.sass */
.sidebar input {
  margin-left: 0;
}

/* line 224, ../../app/stylesheets/application.sass */
hr {
  border: none;
  border-top: 1px solid #59d8e5;
  margin: 2em -20px;
}

/* line 230, ../../app/stylesheets/application.sass */
.note {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #999999;
}

/* line 236, ../../app/stylesheets/application.sass */
#tooltip {
  font-size: 0.8em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}

/* line 244, ../../app/stylesheets/application.sass */
.threeColumn {
  clear: both;
  padding-top: 1.5em;
  margin: 0 -40px;
}
/* line 249, ../../app/stylesheets/application.sass */
.threeColumn .col1, .threeColumn .col2 {
  width: 31%;
  float: left;
  margin-right: 3.5%;
}
/* line 254, ../../app/stylesheets/application.sass */
.threeColumn .col3 {
  width: 31%;
  float: left;
  margin-right: 3.5%;
  margin-right: 0;
}
/* line 260, ../../app/stylesheets/application.sass */
.threeColumn h3 {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 0.75em;
}

/* line 266, ../../app/stylesheets/application.sass */
#tabs.ui-tabs #inner-tabs.ui-tabs, #tabs.ui-tabs .sub-tabs.ui-tabs {
  border: none;
  background: none;
}
/* line 270, ../../app/stylesheets/application.sass */
#tabs.ui-tabs #inner-tabs.ui-tabs ul.ui-widget-header, #tabs.ui-tabs .sub-tabs.ui-tabs ul.ui-widget-header {
  background: none;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}

/* line 277, ../../app/stylesheets/application.sass */
.subject-buttons ul {
  float: right;
}
/* line 280, ../../app/stylesheets/application.sass */
.subject-buttons ul li {
  float: left;
  margin-left: 10px;
}

/* line 285, ../../app/stylesheets/application.sass */
body.bp .subject-description {
  margin-left: 20px;
}

/* line 288, ../../app/stylesheets/application.sass */
body.bp .subject-buttons a {
  text-decoration: none;
}

/* line 292, ../../app/stylesheets/application.sass */
button.button:hover {
  opacity: 0.8;
}

/* line 295, ../../app/stylesheets/application.sass */
button.button {
  font-weight: bold;
  font-size: 12px;
  padding: 0 0 5px 5px;
  color: white;
  outline: none;
  opacity: 1;
  cursor: pointer;
}
/* line 304, ../../app/stylesheets/application.sass */
button.button .small-green-button, button.button .medium-green-button, button.button .large-green-button, button.button .small-red-button, button.button .medium-red-button, button.button .large-red-button, button.button .small-grey-button, button.button .medium-grey-button, button.button .large-grey-button {
  padding: 0 5px 4px 5px;
}

/* line 307, ../../app/stylesheets/application.sass */
button.button.small-plus-button {
  background: url(/images/master.png) no-repeat transparent -8px -8px;
  width: 45px;
  height: 23px;
  border: none;
}

/* line 313, ../../app/stylesheets/application.sass */
button.button.small-plus-button {
  background: url(/images/master.png) no-repeat transparent -8px -8px;
  width: 45px;
  height: 23px;
  border: none;
}

/* line 319, ../../app/stylesheets/application.sass */
button.button.large-plus-button {
  background: url(/images/master.png) no-repeat transparent -61px -7px;
  width: 116px;
  height: 25px;
  border: none;
}

/* line 325, ../../app/stylesheets/application.sass */
button.button.small-minus-button {
  background: url(/images/master.png) no-repeat transparent -8px -43px;
  width: 45px;
  height: 23px;
  border: none;
}

/* line 331, ../../app/stylesheets/application.sass */
button.button.large-minus-button {
  background: url(/images/master.png) no-repeat transparent -61px -43px;
  width: 116px;
  height: 25px;
  border: none;
}

/* line 337, ../../app/stylesheets/application.sass */
button.button.small-edit-button {
  background: url(/images/master.png) no-repeat transparent -8px -77px;
  width: 45px;
  height: 23px;
  border: none;
}

/* line 343, ../../app/stylesheets/application.sass */
button.button.large-edit-button {
  background: url(/images/master.png) no-repeat transparent -61px -77px;
  width: 116px;
  height: 25px;
  border: none;
}

/* line 349, ../../app/stylesheets/application.sass */
button.button.publish-button {
  background: url(/images/master.png) no-repeat transparent -187px -7px;
  width: 133px;
  height: 29px;
  border: none;
}

/* line 355, ../../app/stylesheets/application.sass */
button.button.subscribe-button {
  background: url(/images/master.png) no-repeat transparent -187px -43px;
  width: 133px;
  height: 29px;
  border: none;
}

/* line 361, ../../app/stylesheets/application.sass */
button.button.small-green-button {
  background: url(/images/master.png) no-repeat transparent -8px -110px;
  width: 55px;
  height: 25px;
  border: none;
}

/* line 367, ../../app/stylesheets/application.sass */
button.button.small-red-button {
  background: url(/images/master.png) no-repeat transparent -70px -110px;
  width: 55px;
  height: 25px;
  border: none;
}

/* line 373, ../../app/stylesheets/application.sass */
button.button.small-grey-button {
  background: url(/images/master.png) no-repeat transparent -8px -143px;
  width: 55px;
  height: 25px;
  border: none;
}

/* line 379, ../../app/stylesheets/application.sass */
button.button.medium-green-button {
  background: url(/images/master.png) no-repeat transparent -71px -143px;
  width: 115px;
  height: 25px;
  border: none;
}

/* line 385, ../../app/stylesheets/application.sass */
button.button.medium-red-button {
  background: url(/images/master.png) no-repeat transparent -193px -143px;
  width: 115px;
  height: 25px;
  border: none;
}

/* line 391, ../../app/stylesheets/application.sass */
button.button.medium-grey-button {
  background: url(/images/master.png) no-repeat transparent -316px -143px;
  width: 115px;
  height: 25px;
  border: none;
}

/* line 397, ../../app/stylesheets/application.sass */
button.button.large-green-button {
  background: url(/images/master.png) no-repeat transparent -8px -176px;
  width: 155px;
  height: 25px;
  border: none;
}

/* line 403, ../../app/stylesheets/application.sass */
button.button.large-red-button {
  background: url(/images/master.png) no-repeat transparent -170px -176px;
  width: 155px;
  height: 25px;
  border: none;
}

/* line 409, ../../app/stylesheets/application.sass */
button.button.large-grey-button {
  background: url(/images/master.png) no-repeat transparent -333px -176px;
  width: 155px;
  height: 25px;
  border: none;
}

/* line 415, ../../app/stylesheets/application.sass */
#inner_column {
  margin: 20px;
}

/* line 418, ../../app/stylesheets/application.sass */
fieldset.special {
  border: 2px solid #ffd700;
  background: #ffffdd;
}
/* line 422, ../../app/stylesheets/application.sass */
fieldset.special legend {
  background: #ffd700;
  padding: 2px 5px 2px 5px;
  margin-left: -2px;
}

/* line 427, ../../app/stylesheets/application.sass */
.access-button {
  margin: 20px;
}
