/* line 1, ../../app/stylesheets/common.sass */
a {
  color: #008c98;
}
/* line 4, ../../app/stylesheets/common.sass */
a:hover {
  text-decoration: none;
}

/* line 8, ../../app/stylesheets/common.sass */
.main {
  margin-bottom: 2em;
}
/* line 11, ../../app/stylesheets/common.sass */
.main img {
  max-width: 475px;
}

/* line 15, ../../app/stylesheets/common.sass */
body.bp {
  font-family: Verdana, Arial, sans-serif;
}

/* line 18, ../../app/stylesheets/common.sass */
.bp .header {
  height: 65px;
  color: white;
}
/* line 22, ../../app/stylesheets/common.sass */
.bp .header h1 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin: 0;
  float: left;
}
/* line 30, ../../app/stylesheets/common.sass */
.bp .header a {
  color: white;
}

/* line 34, ../../app/stylesheets/common.sass */
.global_nav {
  float: right;
  margin: 0;
}
/* line 38, ../../app/stylesheets/common.sass */
.global_nav li {
  float: left;
  margin: 0.25em 0 0;
  padding: 0.25em 0;
}

/* line 44, ../../app/stylesheets/common.sass */
.footer {
  clear: both;
}

/* line 48, ../../app/stylesheets/common.sass */
h1 {
  margin-top: 0.7em;
}

/* line 52, ../../app/stylesheets/common.sass */
h3 {
  font-size: 1.2em;
}

/* line 56, ../../app/stylesheets/common.sass */
h4 {
  font-family: Lucida Grande, Verdana, sans-serif;
  font-size: 1em;
  color: #666666;
  margin: 1em 0 0 0;
}

/* line 63, ../../app/stylesheets/common.sass */
ul, dl, dd {
  margin: 0 0 1em;
}

/* line 67, ../../app/stylesheets/common.sass */
li {
  list-style: none;
}

/* line 71, ../../app/stylesheets/common.sass */
p {
  padding-left: 0;
  font-style: normal;
}

/* line 76, ../../app/stylesheets/common.sass */
address {
  font-style: normal;
}

/* line 80, ../../app/stylesheets/common.sass */
abbr, acronym {
  text-decoration: none;
}

/* line 84, ../../app/stylesheets/common.sass */
abbr:hover, acronym:hover {
  border-bottom: 1px dotted #cccccc;
}

/* line 88, ../../app/stylesheets/common.sass */
blockquote {
  margin: 1em 0 0.5em;
}

/* line 92, ../../app/stylesheets/common.sass */
cite {
  font-size: 0.9em;
  font-style: normal;
  color: #666666;
  display: block;
  margin: 0.5em 0 1.5em;
  padding: 0 1em 1.5em;
  border-bottom: 1px solid #dedede;
}

/* line 102, ../../app/stylesheets/common.sass */
fieldset {
  border: none;
  padding: 0;
  margin: 15px 0 15px 0;
  padding-top: 10px;
  border-width: 1px medium medium;
  border-top: 1px solid #cccccc;
}

/* line 110, ../../app/stylesheets/common.sass */
legend {
  padding: 7px;
  font-weight: bold;
}

/* line 115, ../../app/stylesheets/common.sass */
form h3 {
  margin: 1.5em 0 0.2em;
  padding: 0 0 0.2em;
}

/* line 120, ../../app/stylesheets/common.sass */
textarea, input, select, label, button, optgroup {
  margin-top: 10px;
  font-size: 1em;
}

/* line 125, ../../app/stylesheets/common.sass */
label {
  padding-top: 2px;
  text-align: right;
  width: 7em;
  display: block;
  float: left;
  margin-right: 1em;
}

/* line 133, ../../app/stylesheets/common.sass */
label.remove {
  float: right;
  width: 55px;
}

/* line 139, ../../app/stylesheets/common.sass */
.bp form ul, .bp form p {
  margin-bottom: 0.5em;
}

/* line 143, ../../app/stylesheets/common.sass */
.edit_provider img {
  margin-left: 17em;
}

/* line 148, ../../app/stylesheets/common.sass */
input[type="checkbox"] {
  margin: 13px 0 0;
}
/* line 151, ../../app/stylesheets/common.sass */
input[type="submit"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 156, ../../app/stylesheets/common.sass */
button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 161, ../../app/stylesheets/common.sass */
input[type="submit"]:hover, button:hover {
  cursor: pointer;
}

/* line 166, ../../app/stylesheets/common.sass */
input[value="Save"] {
  margin-left: 17em;
}

/* line 170, ../../app/stylesheets/common.sass */
#recommendation_submit, form ul {
  margin-left: 17em;
}

/* line 174, ../../app/stylesheets/common.sass */
input#next {
  float: right;
  margin-top: 0;
}

/* line 179, ../../app/stylesheets/common.sass */
textarea {
  font-family: Verdana, Arial, sans-serif;
}
/* line 182, ../../app/stylesheets/common.sass */
textarea:focus {
  color: black;
  padding: 2px 0px;
  border: 2px solid #999999;
}

/* line 189, ../../app/stylesheets/common.sass */
input[type="text"]:focus, input[type="password"]:focus {
  color: black;
  padding: 2px 0px;
  border: 2px solid #999999;
}

/* line 195, ../../app/stylesheets/common.sass */
textarea {
  color: #333333;
  padding: 3px 1px;
  border: 1px solid #999999;
  width: 20em;
}

/* line 203, ../../app/stylesheets/common.sass */
input[type="text"], input[type="password"] {
  color: #333333;
  padding: 3px 1px;
  border: 1px solid #999999;
  width: 20em;
}
/* line 209, ../../app/stylesheets/common.sass */
input.number {
  width: 5em;
}

/* line 213, ../../app/stylesheets/common.sass */
ul label {
  display: inline;
  float: none;
  clear: none;
}

/* line 220, ../../app/stylesheets/common.sass */
form ul {
  margin-top: 1em;
  margin-bottom: 0;
}
/* line 224, ../../app/stylesheets/common.sass */
form ul input[type="checkbox"] {
  margin: 0 0.5em 1px 0;
}
/* line 227, ../../app/stylesheets/common.sass */
form li {
  display: block;
  margin-bottom: 0.7em;
}
/* line 231, ../../app/stylesheets/common.sass */
form li label {
  color: #666666;
}
/* line 234, ../../app/stylesheets/common.sass */
form br {
  margin: -1em 0;
}

/* line 238, ../../app/stylesheets/common.sass */
input + h3, select + h3, textarea + h3 {
  margin-top: 3em;
}

/* line 243, ../../app/stylesheets/common.sass */
form br + h3, form ul + h3 {
  margin-top: 3em;
}

/* line 247, ../../app/stylesheets/common.sass */
table.listing {
  width: 100%;
  border-collapse: collapse;
  -moz-border-radius-top: 6px;
  -webkit-border-radius-top: 6px;
}
/* line 254, ../../app/stylesheets/common.sass */
table.listing tr:hover {
  background: #f8f9f9;
}
/* line 258, ../../app/stylesheets/common.sass */
table.listing th, table.listing table td {
  padding: 0.5em;
  line-height: 1.2em;
}
/* line 263, ../../app/stylesheets/common.sass */
table.listing th {
  border-bottom: 2px solid #aed0ea;
}
/* line 267, ../../app/stylesheets/common.sass */
table.listing td {
  border-bottom: 1px solid #aed0ea;
  border-left: 1px solid #aed0ea;
}
/* line 272, ../../app/stylesheets/common.sass */
table.listing th {
  border-left: 1px solid #aed0ea;
}
/* line 275, ../../app/stylesheets/common.sass */
table.listing th:first-child {
  border-left: none;
}
/* line 279, ../../app/stylesheets/common.sass */
table.listing td:first-child {
  border-left: none;
}

/* line 283, ../../app/stylesheets/common.sass */
table.layout {
  font-size: 1em;
  border-top: 1px solid #cccccc;
  margin: 2em -20px;
  width: 860px;
  clear: both;
}
/* line 290, ../../app/stylesheets/common.sass */
table.layout tr {
  height: auto;
}
/* line 293, ../../app/stylesheets/common.sass */
table.layout td, table.layout th {
  padding: 2em 20px 0;
  border: none;
  vertical-align: top;
  height: auto;
}
/* line 299, ../../app/stylesheets/common.sass */
table.layout tr:hover {
  background: none;
}

/* line 303, ../../app/stylesheets/common.sass */
.threeColumn .column {
  width: 246px;
}

/* line 307, ../../app/stylesheets/common.sass */
.block20 {
  margin-top: 1em;
  width: 20em;
  float: left;
}

/* line 313, ../../app/stylesheets/common.sass */
.clear {
  width: 100%;
  clear: both;
}

/* line 318, ../../app/stylesheets/common.sass */
.disabled {
  color: #999999;
}
/* line 321, ../../app/stylesheets/common.sass */
.disabled:hover {
  cursor: default;
}

/* line 325, ../../app/stylesheets/common.sass */
div.flash, .errorExplanation, .error, .notice {
  padding: 0.5em 1em;
  margin: 2em 0 1em;
}

/* line 330, ../../app/stylesheets/common.sass */
div.error, .errorExplanation {
  background-color: #ffeeee;
}

/* line 334, ../../app/stylesheets/common.sass */
div.flash ul, .errorExplanation ul, .error ul, .notice ul {
  margin-left: 0;
}

/* line 339, ../../app/stylesheets/common.sass */
.errorExplanation * {
  color: #aa0000;
}
/* line 342, ../../app/stylesheets/common.sass */
.errorExplanation h2 {
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
}
/* line 347, ../../app/stylesheets/common.sass */
.errorExplanation p {
  padding-bottom: 0.5em;
  margin-left: 0;
}
/* line 351, ../../app/stylesheets/common.sass */
.errorExplanation ul {
  margin-bottom: 0;
  margin-left: 0;
}

/* line 356, ../../app/stylesheets/common.sass */
form .errorExplanation ul {
  margin-bottom: 0;
  margin-left: 0;
}

/* line 361, ../../app/stylesheets/common.sass */
.errorExplanation li, form .errorExplanation li {
  display: list-item;
  list-style: outside square;
  margin-left: 2em;
}

/* line 367, ../../app/stylesheets/common.sass */
.fieldWithErrors {
  display: inline;
}
/* line 371, ../../app/stylesheets/common.sass */
.fieldWithErrors input[type="text"], .fieldWithErrors input[type="password"] {
  border-color: #aa0000;
}
/* line 374, ../../app/stylesheets/common.sass */
.fieldWithErrors textarea {
  border-color: #aa0000;
}
/* line 377, ../../app/stylesheets/common.sass */
.fieldWithErrors label {
  color: #aa0000;
  font-weight: bold;
}
/* line 381, ../../app/stylesheets/common.sass */
.fieldWithErrors label:before {
  content: "* ";
}

/* line 385, ../../app/stylesheets/common.sass */
div.notice {
  background-color: #e0f5cc;
}

/* line 388, ../../app/stylesheets/common.sass */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 396, ../../app/stylesheets/common.sass */
.clearfix {
  display: block;
}

/* line 399, ../../app/stylesheets/common.sass */
a img {
  border: none;
}

/* VARIABLES MENU */
/* line 403, ../../app/stylesheets/common.sass */
div.actions_header {
  background: #c3d9ff;
  display: block;
}
/* line 407, ../../app/stylesheets/common.sass */
div.actions_header input[type="submit"] {
  display: inline;
}
/* line 410, ../../app/stylesheets/common.sass */
div.actions_header ul {
  margin: 0;
  padding: 0 0 5px 5px;
  border-bottom-style: solid;
}
/* line 415, ../../app/stylesheets/common.sass */
div.actions_header ul li {
  display: inline;
  padding-right: 20px;
}
