- content_for :js_templates do
  var group_scenario='#{generate_template(group_form, :group_scenarios, :partial => 'groups/group_scenario', :form_builder_local => :group_scenario)}'

- group_form.fields_for :group_scenarios do |group_scenario|
  = render :partial => "group_scenario", :locals => { :group_scenario =>  group_scenario }
  .field
    = link_to "Add Scenario", '#group_scenario', :class => "add", :rel => "group_scenario" if  @group.group_scenarios.last == group_scenario.object