%table{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
  %tr
    %td{ :valign => "middle" }=image_tag("icon_users_45.png", :alt => "Users Icon")
    %td{ :width => "10" }
    %td{ :valign => "bottom" }
      %h1 New user
= error_messages_for 'user'
- form_for @user do |f|
  = render :partial => "form", :locals => { :f => f }
  = submit_tag "Create", :class=>'submitButton'
= link_to 'Back', users_path
