%h2 
  Edit 
  %br="Simulation Variables - #{@scenario_variable.name}"

%p= link_to 'Back', :back
%hr

- form_for([@scenario, @scenario_variable]) do |f|
  = render :partial => "form", :locals => { :f => f }
