<div align="center" id="footer">

				Learn HVAC was created by a team led by The Institute for the Sustainable Performance of Buildings.<br/>
					&copy; The Institute for the Sustainable Performance of Buildings 2004-2008<br/>
					&copy; Lawrence Berkeley National Laboratory 2004-2008
		
</div> <!-- end footer -->