#header
  %div{ :style => "text-align:right;margin-right:10px;float:right;margin-top:5px;color:white; font-size:11px;" }
    - if current_user != nil
    %b
      Learn HVAC :
      = current_user.institution.name
    %br
    Welcome,
    = current_user.first_name
    = current_user.last_name
    - end
  %a{ :href => "/account/welcome" }
    %img{ :src => "/images/header_bar.png", :alt => "Learn HVAC logo", :border => "0" }
