body
  font-size: 84%
  background: url(/images/layout/bg-header.png) repeat-x left top


.content, .shadow, .subnav, .footer
  width: 960px


.content
  margin: 0 auto


.header
  margin-bottom: 0

  h1
    font-size: 1.3em
    font-weight: normal

    img
      margin: 0 0 5px
      border: none

  a
    border: none

    &:hover
      border: none


.bp .global_nav
  margin-top: 0.3em
  
  li
    margin-left: 0.5em

  a
    padding: 0.2em 1em 0.3em
    -moz-border-radius: 1em
    -webkit-border-radius: 0.8em
    color: #fff

    &:hover
      text-decoration: none
      background: #6C819F
      color: #fff
    
    &:visited
      color: #fff

.bp ul.ui-autocomplete
  margin: 0.3em
  padding: 0.3em

li.username
  margin-right: 1em


.shadow
  background: url(/images/layout/bg-body-shadow.png) no-repeat top center
  padding: 7px
  margin: 0 auto


.bp .subnav
  background: #FFFDDD
  margin: 0 auto
  min-height: 2.3em

  h2
    float: left
    font-size: 1.6em
    margin-left: 2em

  ul
    padding: 20px
    text-align: right

  li > a
    color: #333
    border: none
    text-decoration: none
    font-weight: bold
    padding: 5px 10px
    -moz-border-radius: 1em
    -webkit-border-radius: 1em

    &:hover
      background: #E8DDA6


.navigation ul
  margin: 0

  li
    display: inline


.main
  margin: auto
  padding: 0 50px 1em
  min-height: 500px


.column
  width: 45%
  padding-right: 5%
  float: left


.sidebar
  width: 300px
  float: right

  h3
    padding: 0 0 0.5em
    border-bottom: 1px solid #A1BDC0

  a
    font-size: 0.95em

  ul
    border-bottom: 1px solid #CCC
    padding-bottom: 1em
    margin-bottom: 1.5em


.actions li
  padding-left: 1.7em
  margin: 0.5em 0


.dashboard
  h3
    border-bottom: 2px solid #59D8E5
    padding-bottom: 0.5em
    margin-bottom: 1.5em

  .utility
    font: 1.05em Georgia, Times New Roman, serif


.footer
  height: 5em
  line-height: 1em
  margin: 0 auto 2em
  background: #FFF url(/images/layout/bg-body-shadow-foot.png) no-repeat center bottom

  .content
    width: 940px
    padding-top: 1.5em
    border-top: 1px solid #C9CfD0

  a
    color: #008C98
    border-bottom: 1px dotted #008C98

    &:hover
      color: #000
      border: none

  ul
    height: 1.5em

    li
      float: left

  .nav
    float: left

    li
      margin-left: 1em
      padding-left: 1em
      border-left: 1px solid #666

      &:first-child
        margin-left: 0
        padding-left: 0
        border: none

  .attribution
    float: right

    img
      float: none
      margin: -1em 0 -0.7em

    a
      color: #91020C
      border-bottom: 1px solid #91020C


input[type="submit"], button
  font-weight: bold
  color: #FFF
  background: #858585 url(/images/layout/bg-btn.png) repeat-x left top
  padding: 0.5em 1em
  border: 1px solid #858585
  -moz-border-radius: 4px
  -webkit-border-radius: 4px


input[type="submit"]:hover, button:hover
  cursor: pointer

  p
    margin-top: 1em
    margin-bottom: 1em


textarea
  width: 30em
  height: 10em

  &.contact_message
    width: 20em


.sidebar input
  margin-left: 0


hr
  border: none
  border-top: 1px solid #59D8E5
  margin: 2em -20px


.note
  font-size: 0.9em
  line-height: 1.3em
  color: #999


#tooltip
  font-size: 0.8em
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  padding: 10px


.threeColumn
  clear: both
  padding-top: 1.5em
  margin: 0 -40px

  .col1, .col2
    width: 31%
    float: left
    margin-right: 3.5%

  .col3
    width: 31%
    float: left
    margin-right: 3.5%
    margin-right: 0

  h3
    text-align: center
    font-size: 1.4em
    margin-bottom: 0.75em