= content_for :main_header do
  %h1 Dashboard
  %p This is the instructor dashboard of the LearnHVAC website.

%table.zebra-striped
  %thead
    %tr
      %th
      %th All
      %th Recently Added
      %th Recently Updated
  %tbody
    %tr
      %td Scenarios
      %td= current_user.created_scenarios.count
      %td= current_user.created_scenarios.recently_created.count
      %td= current_user.created_scenarios.recently_updated.count
