%h2 Instructor Dashboard
%p This is the instructor dashboard of the LearnHVAC website.
%hr
%table
  %tr
    %th 
    %th All
    %th Recently Added
    %th Recently Updated
  %tr
    %td Scenarios
    %td= Scenario.count
    %td= Scenario.recently_created.count
    %td= Scenario.recently_updated.count
