%h2= "Editing #{@scenario.name}"
%p= link_to "Back to scenario", instructors_scenario_path(@scenario)
%hr

- form_for(@scenario, :url => instructors_scenario_path(@scenario)) do |f|
  = render :partial => "form", :locals => { :f => f }
