#tabs
  %ul
    %li.ui-tabs-selected= link_to "Scenarios", instructors_scenarios_path
    %li= link_to "New Scenario", new_instructors_scenario_path

  = render :partial => "instructors/scenarios/scenario_menu"
  - if @scenario.public?
    %p
      This scenario is 
      %b public and can be accessed by any user in the system.
  - else
    %p
      This scenario is
      %b private and can only be accessed by you and:
      %h3 Groups
    - if @scenario.groups.empty?
      %b This scenario hasn't been yet assigned to a group.
    - else
      %table.listing
        %thead
          %tr
            %th Name
        - @scenario.groups.each do |group|
          %tr
            %td= link_to group.name, instructors_class_path(group)