<h1>Listing global_system_variables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @global_system_variables.each do |global_system_variable| %>
  <tr>
    <td><%= link_to 'Show', global_system_variable %></td>
    <td><%= link_to 'Edit', edit_global_system_variable_path(global_system_variable) %></td>
    <td><%= link_to 'Destroy', global_system_variable, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New global_system_variable', new_global_system_variable_path %>
