#tabs
  %ul
    %li= link_to "Master Scenarios", admins_master_scenarios_path
    %li= link_to 'New Master Scenario', new_admins_master_scenario_path

  = form_for(@master_scenario, :url => admins_master_scenario_path(@master_scenario), :method => :put) do |f|
    = render :partial => 'form', :locals => { :f => f }
