%h2 New Instructor
- form_for(@instructor, :url => managers_instructor_path(@instructor), :method => :put) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Back', managers_instructors_path