%h2 New Instructor
- form_for(@instructor, :url => institution_managers_instructors_path, :method => :post) do |f|
  = render :partial => 'form', :locals => { :f => f }

= link_to 'Back', institution_managers_instructors_path