<p>Someone edited the scenario the same time you did. Please make your changes again...</p>
<br/>
<%= button_to 'Edit Scenario Again', {:action => 'edit', :id=>@scenario.id}, :class=>'createButton', :flash => "" %>

