<% form_tag :action=> "login" do %>


<center>

<div id="loginContent">

<div id="loginWelcome">
 
  <p style="font-size:18px;font-family:Verdana, Arial;">Welcome to the</br> Learn HVAC Instructor Site</b></p>
  <p>This site provides management functions for the Learn HVAC suite of tools. It allows instructors
	to manage student access to Learn HVAC and the scenarios provided within the tool.</p>
	
	<!--
	<p>This site is meant to be	used in conjunction with a customized implementation of Moodle. Moodle is a 
	popular, open-source Learning Management System for managing students, courses and online educational resources.</p>
	-->
	
</div> <!-- end loginWelcome -->

<div id="loginArea" >

 	
  <div id="loginForm" class="form" style="text-align:left;">
	
    <div style="background-color:#fef782;color:#555; padding:5px;">
      <table border="0">
        <tr>
          <td><img src="/images/user.png"/>&nbsp;&nbsp;</td>
          <td><b>Instructor login </b></td>
        </tr>
      </table>
    </div>
		
    <div style="padding:20px;">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="left" valign="top"><label for="user_login">Login:</label></td>
          <td align="left" valign="top"><%= text_field "user","login", :size=>15 %><br/>
            <br/></td>
        </tr>
        <tr>
          <td align="left" valign="top"><label for="user_password">Password:&nbsp;&nbsp;&nbsp;</label>
            <br/></td>
          <td align="left" valign="top"s="s"><%= password_field "user","password", :size=>15 %><br/>
            <br/></td>
        </tr>
    
        <tr>
          <td>&nbsp;</td>
          <td align="left"><%= submit_tag "Log In" %></td>
        </tr>
      </table>
			
    	<p style="color:#666666">If you do not have an account and would like to have one set up, please <a href="mailto:jjd@deringergroup.com">contact us</a>.</p>
  		
    </div>
		
  </div>  <!-- end loginForm -->
	
  <br/><br/>
	
	
	
</div><!-- end loginArea -->

</div> <!-- end loginContent-->

</center>

<% end %> 