

<div class="pageTitle">

	Instructor Main Menu

</div>


<!-- buttons -->
<div id="menuPanel"> 

<table border="0" class="menuTable">
	<tr>
		<td >
			<div class="icon">
				<div style="float:left;">
					<a href="/scenarios/list">
						<img src="/images/btn_scenarios_large.png" alt="Manage Scenarios" border="0" align="middle" />
						<span>Scenarios</span>
					</a>
				</div>
			</div>
		</td>
		<td width="10">&nbsp;</td>
		<td valign="top">
			Create and manage Scenarios, the unique SPARK configurations for student use with Learn HVAC.
			<br />
		</td>
	</tr>
	
	<tr>
		<td >
			<div class="icon">
				<a href="/systemvariables/list">
					<img src="/images/btn_sysvars_large.png" alt="Manage System Variables" border="0" align="middle"  />
					<span>System Variables</span>
				</a>
			</div>
		</td>
		<td width="10">&nbsp;</td>
		<td valign="top">	
			Create and manage the core System Variables that form the basis of all Scenarios
			<br />
		</td>
	</tr>
	
	<tr>
		<td >
			<div class="icon">
				<a href="/users/list">
					<img src="/images/btn_users_large.png" alt="Manage Users" border="0" align="middle"  />
					<span>Users</span>
				</a>
			</div>
		</td>
		<td width="10">&nbsp;</td>
		<td valign="top">	
			Manage users: administrators, instructors and students
			<br />
		</td>
	</tr>
	
	<tr>
		<td >
			<div class="icon">
				<a href="/reports/">
					<img src="/images/btn_reports_large.png" alt="View Reports" border="0" align="middle"  />
					<span>Reports</span>
				</a>
			</div>
		</td>
		<td width="10">&nbsp;</td>
		<td valign="top">	
			View information on logins, usage time, scenario selection, etc.
			<br />
		</td>
	</tr>
    
    <tr>
		<td >
			<div class="icon">
				<a href="/app_configs/">
					<img src="/images/btn_config_large.png" alt="Config system" border="0" align="middle"  />
					<span>Configure</span>
				</a>
			</div>
		</td>
		<td width="10">&nbsp;</td>
		<td valign="top">	
			Configure Learn HVAC Application
			<br />
		</td>
	</tr>
</table>

</div> <!-- end buttons -->

<!-- introduction -->
<div id="menuInfo">
<b>About Learn HVAC Instructor Site</b>
<br/>
<p>This site allows you to configure
and manage Learn HVAC. You can manage Scenarios, view System Variables, and create and manage the users who will have access to the Learn HVAC client.</p>

<p>You might want to read the short introduction in the help
section before starting. Otherwise, use the buttons at left
to manage Learn HVAC.</p>
<ul>
<li><b>System Variables</b> are the SPARK variables that are used within
to the Learn HVAC client to communicate with SPARK and report SPARK output.</li>
<li><b>Scenarios</b> are unique configurations of system variables that 
present a specific HVAC situation to a student. </li>
<li><b>Users</b> are students, administrators or guests. Use this section
to manage users of Learn HVAC.</li>
<li><b>Reports</b> provide information on Learn HVAC usage.</li>
</ul>

</div> <!-- end introduction -->

