#tabs
  %ul
    %li= link_to "Classes", instructors_classes_path
    %li= link_to "New Class", new_instructors_class_path

  - form_for(@group, :url => instructors_class_path(@group)) do |f|
    = render :partial => "form", :locals => { :f => f }