- content_for :js_templates do
  :plain
    $(document).ready(function() { 
      $("#group_instructor_id").change(function() { 
        $.get("#{list_admin_scenarios_path}", { user_id: $(this).val(), group_id: #{@group.id} }, function(r) { $("#group_scenarios_ids_").html(r) }) 
      }) 
    })

.field
  = group_form.label :scenarios
  %br
  = select_tag "group[scenarios_ids][]", options_from_collection_for_select(User.instructor.first.scenarios, :id, :name, scenarios_ids), :multiple => true