= grid(@scenario_variables_grid,:upper_pagination_panel => true) do |g|
  - g.column :name => 'ID', :filter => false, :attribute => 'id'
  - g.column :name => 'Name', :attribute => 'name'
  - g.column :name => 'Display Name', :attribute => 'display_name'
  - g.column :name => 'Description', :attribute => 'description'
  - g.column :name => 'Unit system', :attribute => 'unit_si'
  - g.column :name => 'Unit Ip', :attribute => 'unit_ip'
  - g.column :name => 'si_to_ip', :attribute => 'si_to_ip'
  - g.column :name => 'Left Label', :attribute => 'left_label'
  - g.column :name => 'Right Label', :attribute => 'right_label'
  - g.column :name => 'Subsection', :attribute => 'subsection'
  - g.column :name => 'Zone Position', :attribute => 'zone_position'
  - g.column :name => 'Fault Widget Type', :attribute => 'fault_widget_type'
  - g.column :name => 'Notes', :attribute => 'notes'
  - g.column :name => 'Component Code', :attribute => 'component_code',:custom_filter => Variable::COMPONENTS.keys
  - g.column :name => 'IO Type', :attribute => 'io_type',:custom_filter => Variable::IO_TYPES
  - g.column :name => 'View Type', :attribute => 'view_type'
  - g.column :name => 'Index', :attribute => 'index'
  - g.column :name => 'Lock Version', :attribute => 'lock_version'
  - g.column :name => 'Node Sequence', :attribute => 'node_sequence'
  - g.column :name => 'Low Value', :attribute => 'low_value'
  - g.column :name => 'High Value', :attribute => 'high_value'
  - g.column :name => 'Initial Value', :attribute => 'initial_value'
  - g.column :name => 'Is Fault', :attribute => 'is_fault'  do |item|
    - item.is_fault? ? 'Yes' : 'No'
  - g.column :name => 'is_percentage', :attribute => 'is_percentage' do |item|
    - item.is_percentage? ? 'Yes' : 'No'
  - g.column :name => 'disabled', :attribute => 'disabled'  do |item|
    - item.disabled? ? 'Yes' : 'No'
  - g.column :name => 'fault_is_active', :attribute => 'fault_is_active'  do |item|
    - item.fault_is_active? ? 'Yes' : 'No'
  - g.column do |item|
    - link_to image_tag('edit.gif'), edit_admins_scenario_variable_path(@scenario, item)
  - g.column do |item|
    - link_to image_tag('trashcan.gif'), admins_scenario_variable_path(@scenario, item), :confirm => 'Are you sure?', :method => :delete
