- content_for :js_templates do
  ~ render :partial => "shared/variables_js", 
           :locals => { :status_path => update_status_admins_scenario_variables_path(@scenario), :drop_path => drop_admins_scenario_variables_path(@scenario) }

#tabs
  %ul
    %li.ui-tabs-selected= link_to "Instructor Scenarios", admins_scenarios_path
    %li= link_to "New Scenario", new_admins_scenario_path

  = render :partial => "admins/scenarios/scenario_menu"
  %br
  
  %div.actions_header
    = grid(@scenario_variables_grid) do |g|
      - g.column :column_name => 'ID', :attribute_name => 'id'
      - g.column :column_name => 'Name', :attribute_name => 'name'
      - g.column :column_name => 'Display Name', :attribute_name => 'display_name'
      - g.column :column_name => 'Description', :attribute_name => 'description'
      - g.column :column_name => 'Unit system', :attribute_name => 'unit_si'
      - g.column :column_name => 'Unit Ip', :attribute_name => 'unit_ip'
      - g.column :column_name => 'si_to_ip', :attribute_name => 'si_to_ip'
      - g.column :column_name => 'Left Label', :attribute_name => 'left_label'
      - g.column :column_name => 'Right Label', :attribute_name => 'right_label'
      - g.column :column_name => 'Subsection', :attribute_name => 'subsection'
      - g.column :column_name => 'Zone Position', :attribute_name => 'zone_position'
      - g.column :column_name => 'Fault Widget Type', :attribute_name => 'fault_widget_type'
      - g.column :column_name => 'Notes', :attribute_name => 'notes'
      - g.column :column_name => 'Component Code', :attribute_name => 'component_code'
      - g.column :column_name => 'IO Type', :attribute_name => 'io_type'
      - g.column :column_name => 'View Type', :attribute_name => 'view_type'
      - g.column :column_name => 'Index', :attribute_name => 'index'
      - g.column :column_name => 'Lock Version', :attribute_name => 'lock_version'
      - g.column :column_name => 'Node Sequence', :attribute_name => 'node_sequence'
      - g.column :column_name => 'Low Value', :attribute_name => 'low_value'
      - g.column :column_name => 'High Value', :attribute_name => 'high_value'
      - g.column :column_name => 'Initial Value', :attribute_name => 'initial_value'
      - g.column :column_name => 'Is Fault', :attribute_name => 'is_fault'  do |item|
        - item.is_fault? ? 'Yes' : 'No'
      - g.column :column_name => 'is_percentage', :attribute_name => 'is_percentage' do |item|
        - item.is_percentage? ? 'Yes' : 'No'
      - g.column :column_name => 'disabled', :attribute_name => 'disabled'  do |item|
        - item.disabled? ? 'Yes' : 'No'
      - g.column :column_name => 'fault_is_active', :attribute_name => 'fault_is_active'  do |item|
        - item.fault_is_active? ? 'Yes' : 'No'
      - g.column :column_name => 'type', :attribute_name => 'type'