%table
  %tr
    %td=image_tag("icon_users_45.png", :alt => "Users Icon")
    %td
    %td
      %h1 New user
= error_messages_for 'user'
- form_for(@user, admin_user_path(@user), :method => :put) do |f|
  = render :partial => "form", :locals => { :f => f }
  = submit_tag "Update"
= link_to 'Back', admin_users_path
