%h2 New #{params[:role].humanize}
%hr

- form_for(@user,:url => admin_users_path, :method => :post) do |f|
  = render :partial => "form", :locals => { :f => f }
  .actions
    = submit_tag "Create"
    &nbsp;or&nbsp;
    = link_to 'Cancel', :back

