%h1 New instructor System Var
- form_for([@instructor, @instructor_variable], :url => admin_user_instructor_variables_path(@instructor), :method => :post) do |f|
  = render :partial => "form", :locals => { :f => f }
= link_to 'Back', admin_user_instructor_variables_path(@instructor)
