.pageTitle
  Instructor Main Menu
#menuPanel
  %table.menuTable{ :border => "0" }
    %tr
      %td
        .icon
          %div{ :style => "float:left;" }
            %a{ :href => "/scenarios/" }
              %img{ :src => "/images/btn_scenarios_large.png", :border => "0", :alt => "Manage Scenarios", :align => "middle" }
              %span
                Scenarios
      %td{ :width => "10" }
        \&nbsp;
      %td{ :valign => "top" }
        Create and manage Scenarios, the unique SPARK configurations for student use with Learn HVAC.
        %br
    %tr
      %td
        .icon
          %a{ :href => "/systemvariables/" }
            %img{ :src => "/images/btn_sysvars_large.png", :border => "0", :alt => "Manage System Variables", :align => "middle" }
            %span
              System Variables
      %td{ :width => "10" }
        \&nbsp;
      %td{ :valign => "top" }
        Create and manage the core System Variables that form the basis of all Scenarios
        %br
    %tr
      %td
        .icon
          %a{ :href => "/users/" }
            %img{ :src => "/images/btn_users_large.png", :border => "0", :alt => "Manage Users", :align => "middle" }
            %span
              Users
      %td{ :width => "10" }
        \&nbsp;
      %td{ :valign => "top" }
        Manage users: administrators, instructors and students
        %br
    %tr
      %td
        .icon
          %a{ :href => "/reports/" }
            %img{ :src => "/images/btn_reports_large.png", :border => "0", :alt => "View Reports", :align => "middle" }
            %span
              Reports
      %td{ :width => "10" }
        \&nbsp;
      %td{ :valign => "top" }
        View information on logins, usage time, scenario selection, etc.
        %br
    %tr
      %td
        .icon
          %a{ :href => "/app_configs/" }
            %img{ :src => "/images/btn_config_large.png", :border => "0", :alt => "Config system", :align => "middle" }
            %span
              Configure
      %td{ :width => "10" }
        \&nbsp;
      %td{ :valign => "top" }
        Configure Learn HVAC Application
        %br
#menuInfo
  %b
    About Learn HVAC Instructor Site
  %br
  %p
    This site allows you to configure
    and manage Learn HVAC. You can manage Scenarios, view System Variables, and create and manage the users who will have access to the Learn HVAC client.
  %p
    You might want to read the short introduction in the help
    section before starting. Otherwise, use the buttons at left
    to manage Learn HVAC.
  %ul
    %li
      %b
        System Variables
      are the SPARK variables that are used within
      to the Learn HVAC client to communicate with SPARK and report SPARK output.
    %li
      %b
        Scenarios
      are unique configurations of system variables that
      present a specific HVAC situation to a student.
    %li
      %b
        Users
      are students, administrators or guests. Use this section
      to manage users of Learn HVAC.
    %li
      %b
        Reports
      provide information on Learn HVAC usage.

