<html>
<head>
  <title>ePrimer Management Console: <%= controller.action_name %></title>
  <meta http-equiv="cache-control" content="no-cache">
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div id="wrapper">
	<%= render :partial => "shared/header" %>
	<%= render :partial => "layouts/navigation" %>
	<div id="navDropShadow"><img src="/images/nav_drop_shadow.png"/></div> <!-- end navDropShadow -->
</div> <!-- end wrapper -->