= content_tag :div, h(flash[:notice]), :class => "notice" if flash[:notice]
= content_tag :div, h(flash[:message]), :class => "notice message" if flash[:message]
= content_tag :div, h(flash[:warning]), :class => "notice warning" if flash[:warning]
%br