<%= render :partial => "layouts/head" %>
<div id="content">
  <%= render :partial => "layouts/notice" %>
  <%= yield %>
</div> <!-- end content -->

<%= render(:partial=>"shared/footer") %>


</body>
</html>
