%td
  = label_tag 'State/Region'
%td
  - if @states.any?
    = select_tag 'user[state]', options_for_select(@states.collect(&:value).insert(0, ""), params[:current])
  - else
    = text_field_tag 'user[state]', params[:current]