%h2
  = @scenario.name
  %br
  Who has access?

%p= link_to 'Back', :back
%hr

- if @scenario.public?
  %p 
    This scenario is 
    %b public
    and can be accessed by any user in the system.

- else
  %p
    This scenario is
    %b private
    and can only be accessed by:

  %h3 Instructor
  %p
    = link_to @scenario.user.name, managers_instructor_path(@scenario.user)
    (read/write) permissions.

  %h3 Groups
  - if @scenario.groups.empty?
    %b This scenario hasn't been yet assigned to a group.
  - else
    %ul
      - @scenario.groups.each do |group|
        %li= link_to group.name, managers_group_path(group)
  
